.team-chinpoko-component{
  position: relative;
  display:flex;
    &__sprite{
      height: 150px;
      width: 150px;
      text-align: center;
      margin: 20px;
      &:after{
        width: 200px;
        height: 70px;
        background-color: #3b3b3b;
        border-radius: 100%;
        background: radial-gradient(at center, #808080, #222);
      }
    }

    &__hpbox{
      width: 130px;
      background: #fff;
      border: 3px solid #888;
      margin:0 2em;
    }
    &__statbox{
      width: 130px;
      background: #fff;
      border: 3px solid #888;
      margin:0 2em;
    }
    &__biomebox{
      width: 130px;
      background: #fff;
      border: 3px solid #888;
      margin:0 2em;
    }

    .hpbox{
      &__title{
        display: flex;
      }
      &__name{  }
      &__lvl{
        flex:1;
        text-align: right;
      }
      &__healthbar{
        border: 2px solid #000;
        height: 10px;
        background: #00ff00;
      }
    }

    .biomebox{
      &__row{
        height: 2em;
        display: flex;
        align-items: center;
      }
      &__row-symbol{
        margin-right: 0.2em;
      }
      &__row-content{
        display: flex;
        align-items: center;
      }
    }

    .type-symbol{
      height: 1.5em;
      width: 1.5em;
    }
}