.team-builder-component{
	
	&__team{
		display: flex;
		flex-direction: row;
	}

	&__body{
		display: flex;
		flex-direction: column;
	}

	&__input{
		height: 400px;
		text-align: left;
		vertical-align: text-top;
	}
}