.card {
  background: #fff;
  border: 5px solid;
  float: center;
  margin-right: 10px;
  margin-top: 0px;
  height: 70%;
  width: 50px;
  display: flex;                   
  flex-direction: column;          
  justify-content: space-between;  
}
.game-hand .card.is-enemy:hover {
  width: 60px;
  height: 90%;  
}

.card.is-ally{
  font-size: 14px;
  font-weight: bold;
  width: 130px;
  text-align: center;
  word-wrap: break-word;
}

.game-hand .card.is-ally.is-not-clicked:hover {
  width: 160px;
  font-size: 18px;
  height: 90%;
}

.cardcost {
  text-align: right;
  margin-right: 5px;
  margin-top: 5px;
}

.cardtext {
  margin-top: 20px;
  text-align: left;
}

.card.is-ally.is-clicked{
  filter: brightness(85%);
}

.cardpower-wrapper {
}

.cardpower {
  display: flex;     
  align-items: flex-end; 
  padding: 5px;
}