.phase-group {
	margin-top: 10px;
	margin-bottom: 50px;
}

.phase-container {
	margin-top: 10px;
	margin-bottom: 10px;
	display: flex;
}

.phase-container.is-show{
	border: 2px solid blue;
}

.phase-container.is-current{
	border: 5px solid red !important;
}

.phase {
	background-color: lightgrey;
	width: 50%;
}

.phase.is-filled {
	background: grey;
}