body {
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 20px;
}

.game {
  display: flex;
}

.game-action {
  width: 80%;
}

.game-info {
  width: 20%;
  margin-left: 5%;
}

.next-turn {
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.next-turn-button {
}
