.hand-component{
  position:absolute;
  display: flex;
  justify-content: center;
  left:0;
  right:0;
  &--is-enemy{
    transform: scale(0.5);
  }
  &--is-ally{
    transform: translateY(20%);
    bottom:0;
  }
}