.node-editor-component{
	display: flex;
	position: absolute;
	justify-content: center;
	align-items: center;
	background-color: #f4f4f4ee;
	bottom: 0em;
	left: 1em;
	padding:2em;
	flex-direction: column;
	&.editing{
		left: unset;
		bottom:10%;
	}
	.node-editor__actions{
		font-size:1.2em;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
	.node-editor__message{
		font-size:1.2em;
	}
	.node-editor__keyline{
		cursor: default;
		color: #70707077;
		transition:color 300ms;
		&:hover{
			color: #707070F0;
		}
	}
	.node-editor__input-group{
		margin:2em 0;
		display:flex;
		flex-direction: column;
	}

	.node-editor__edit-source {
		display: flex;
		margin:2em 0;
	}

	.node-editor__left{
		display: flex;
		flex-direction: column;
		flex: 1;
		input{
			margin:0.5em;
		}
	}

	.node-editor__error{
		color:red;
	}

	.node-editor__right{
		display: flex;
		flex: 1;
	}

	.hidden{
		display: none;
	}

	.key{
		font-family: monospace;
		display: inline-block;
		background-color: #0383f277;
		color:white;
		border:thin solid black;
		border-radius:4px;
		padding: 0.25em 0.5em;
		margin:0.5em;
		cursor:pointer;
	}
	input {
		background:none;
		outline:none;
		font-size:1.2em;
		border:none;
		border-bottom:2px solid #707070;
		color: #707070;
		text-align:center;
	}
	textarea {
		background:none;
		outline:none;
		font-size:1em;
		border:2px solid #707070;
		padding:1em;
		color: #707070;
		text-align: left;
	    width: 300px;
	}
	input::placeholder,
	textarea::placeholder  {
		color: #70707088;
	}

}
/*
    display: flex;
    position: absolute;
    justify-content: center;
    align-items: center;
    background-color: #f4f4f4ee;
    bottom: 1em;
    left: 1em;
    flex-direction: column;

    left:unset
    bottom: 20%;
    padding: 2em;
*/