.argument-renderer-component{
	display:flex;
	.tree{
		display: flex;
		.root{
			display: flex;
			align-items: center;
			order:2;
		}
		.children{
			display: flex;
			flex-direction: column;
			justify-content: center;
			order:1;
		}
	}
}