.type-symbol{
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;

  &__icon{

  }
	&--type{
		&-FIRE{
			background-color: red;
		}
		&-WATER{
			background-color: dodgerblue;
		}
		&-GRASS{
			background-color: chartreuse;
		}
		&-NEUTRAL{
			background-color: lightgrey;
		}
		&-MISTERY{
			background-color: darkmagenta;
		}
		&-ELECTRIC{
			background-color: gold;
		}
		&-EARTH{
			background-color: goldenrod;
		}
		&-WIND{
			background-color: cyan;
		}
		&-COLD{
			background-color: lightblue;
		}
    &-TOXIC{
      background-color: magenta;
    }
    &-ARTIFICIAL{
      background-color: olive;
    }
	}
}
