$cardFontSize: 10px;
$cardWidth: 100px;
$ratio:1.4;
$cardBorderSize: 3px;


.deck-card-component{
	position:relative;
	display:flex;
	flex-direction: column;
	width: $cardWidth;
	height: $cardWidth*$ratio;
	padding:1em;
	font-size: $cardFontSize;
	font-weight: bold;
	border-width: $cardBorderSize;
	border-style: solid;
	box-shadow: 0 0 0 0 #CCCCFF;

	&--type{
		&-FIRE{
			border-color: red;
			background-color:#533;
		}
		&-WATER{
			border-color: dodgerblue;
			background-color:#335;
		}
		&-GRASS{
			border-color: chartreuse;
			background-color:#353;
		}
		&-NEUTRAL{
			border-color: lightgrey;
			background-color:#555;
		}
		&-MISTERY{
			border-color: darkmagenta;
			background-color:#535;
		}
		&-ELECTRIC{
			border-color: gold;
			background-color:#355;
		}
		&-EARTH{
			border-color: saddlebrown;
			background-color:#333;
		}
		&-WIND{
			border-color: skyblue;
			background-color:#333;
		}
		&-COLD{
			border-color: cornflowerblue;
			background-color:#333;
		}
	}

	&__image{
		height:80px;
		background:radial-gradient(#ccc, #222);
		border:thin solid white;
	}

	&__values{
		position:absolute;
		top:1.4em;
		left: -0.6em;
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	&__type{
		position:absolute;
		right: 0.3em;
		top: -1em;
		height: 2em;
		width: 2em;
	}

	&__action{
		display: flex;
		justify-content: center;
		align-items: center;

		width:2em;
		height:2em;
		border-radius: 100%;
		background-color: #CC2222;

		&--effect{
			&-WAIT{
				width: 1.5em;
        height: 1.5em;
				background-color: #2222CC
			}
		}
	}

	&__action-icon{
		filter: invert(100%);
	}

	&__name{
		text-align:center;
		color:white;
	}
	&__text{
		flex:1;
		padding:1em;
		background-color:#FFFD;
		font-size:0.9em;
		font-weight: normal;
	}
}