.deck-builder-component{
	
	&__deck{
		display: grid;
		grid-template-columns: repeat(10, 1fr);
  		grid-gap: 5px;
	}

	&__body{
		display: flex;
		flex-direction: column;
	}

	&__input{
		height: 400px;
		text-align: left;
		vertical-align: text-top;
	}
}