body {
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 20px;
}

.game {
  display: flex;
}

.game-action {
  width: 80%;
}

.selected-card {
  height:250px;
  margin-left: 20px;
}

.game-hand {
  height: 100px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.game-hand.is-ally {
  height: 250px;
}
